@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Bold.ttf');
  font-weight: 700;
}

:root {
  --font-nunito: 'Nunito', sans-serif;
  --color-secondary-50: #fff0f2;
  --color-secondary-100: #ffe2e7;
  --color-secondary-200: #ffcad5;
  --color-secondary-300: #ff9fb2;
  --color-secondary-400: #ff698a;
  --color-secondary-500: #ff2056;
  --color-secondary-600: #ed1151;
  --color-secondary-700: #c80845;
  --color-secondary-800: #a80940;
  --color-secondary-900: #8f0c3d;
  --color-secondary-950: #50011d;
  --color-primary-50: #ecf0ff;
  --color-primary-100: #dde4ff;
  --color-primary-200: #c2cdff;
  --color-primary-300: #9cabff;
  --color-primary-400: #757dff;
  --color-primary-500: #615fff;
  --color-primary-600: #4736f5;
  --color-primary-700: #3d2ad8;
  --color-primary-800: #3225ae;
  --color-primary-900: #2c2689;
  --color-primary-950: #1c1650;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-mongoose-50: #f6f4f0;
  --color-mongoose-100: #e8e4d9;
  --color-mongoose-200: #d2ccb6;
  --color-mongoose-300: #b8ac8c;
  --color-mongoose-400: #aa9a77;
  --color-mongoose-500: #94815e;
  --color-mongoose-600: #7f6a4f;
  --color-mongoose-700: #675341;
  --color-mongoose-800: #58473b;
  --color-mongoose-900: #4d3e36;
  --color-mongoose-950: #2b211d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  all: unset;
}

.btn {
  all: unset;
  display: flex;
  justify-content: center;
}

.pointer {
  cursor: pointer;
}

html {
  background-color: var(--color-zinc-50);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-zinc-600);
  font-family: var(--font-nunito);
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 430px;
}

.main {
  flex-grow: 1;
  padding: 45px 0 35px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero-title {
  font-size: 30px;
  font-weight: 700;
  line-height: calc(2.25 / 1.875);
  color: var(--color-primary-900);
}

#form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.input-label {
  font-weight: 600;
  line-height: 1;
  color: var(--color-primary-900);
  margin-left: 6px;
}

.input-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.input {
  all: unset;
  background-color: var(--color-primary-50);
  padding: 8px 16px;
}

.input-border {
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-500);
}

.btn-accept {
  padding: 8px 0;
  border-radius: 8px;
  background-color: var(--color-primary-500);
  color: var(--color-zinc-50);
}

.form-submit {
  margin-top: 4px;
}

.btn-label {
  position: relative;
  top: 2px;
  font-weight: 700;
}

.networks {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.networks-hero {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.networks-founded {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networks-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.networks-loader {
  width: 45px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-primary-900) 90%, transparent);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}

.networks-title {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(2 / 1.5);
  color: var(--color-primary-900);
}

.btn-icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  border-radius: 8px;
  color: var(--color-primary-900);
}

#list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.list-item {
  display: flex;
}

.list-item-btn {
  width: 100%;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-primary-50);
  border: 1px solid var(--color-primary-300);
  column-gap: 8px;
}

.list-item-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.list-item-secured {
  width: 16px;
  height: 16px;
  color: var(--color-primary-900);
  position: relative;
  top: 2px;
}

.list-item-ssid {
  display: inline;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(1.75 / 1.25);
  color: var(--color-primary-900);
  overflow-wrap: anywhere;
}

#listItemRRSI {
  display: flex;
  align-items: center;
  background-color: var(--color-primary-500);
  padding: 6px;
  border-radius: 50%;
}

.list-item-rrsi {
  width: 28px;
  height: 28px;
  color: var(--color-primary-300);
}

[data-level='1'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 1),
[data-level='2'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 2),
[data-level='3'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 3),
[data-level='4'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 4) {
  color: var(--color-zinc-50);
}

#footer {
  text-align: center;
  padding: 20px 0;
}

.footer-text {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(1.75 / 1.125);
  color: var(--color-primary-900);
}

.hidden {
  display: none;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
    line-height: calc(1.75 / 1.125);
  }

  .container {
    max-width: 1280px;
  }

  .main {
    max-width: 648px;
    padding: 60px 0 40px;
    row-gap: 30px;
  }

  .hero-title {
    font-size: 36px;
    line-height: calc(2.5 / 2.25);
  }

  #form {
    row-gap: 20px;
  }

  .form-group {
    row-gap: 8px;
  }

  .networks-title {
    font-size: 30px;
    line-height: calc(2.25 / 1.875);
  }

  .networks-hero {
    row-gap: 18px;
  }

  .btn-icon {
    width: 36px;
    height: 36px;
  }

  #list {
    row-gap: 15px;
  }

  .networks {
    row-gap: 16px;
  }

  .footer-text {
    font-size: 20px;
    line-height: calc(1.75 / 1.25);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--color-zinc-950);
    color: var(--color-zinc-300);
  }

  .hero-title {
    color: var(--color-primary-50);
  }

  .input-label {
    color: var(--color-primary-50);
  }

  .input {
    background-color: var(--color-zinc-900);
  }

  .input-border {
    background-color: var(--color-primary-400);
  }

  .btn-accept {
    background-color: var(--color-primary-400);
    color: var(--color-zinc-950);
  }

  .networks-title {
    color: var(--color-primary-50);
  }

  .networks-loader {
    --_g: no-repeat radial-gradient(circle closest-side, var(--color-primary-50) 90%, transparent);
  }

  .btn-icon {
    color: var(--color-primary-50);
  }

  .list-item-btn {
    background-color: var(--color-zinc-900);
    border: 1px solid var(--color-primary-400);
  }

  .list-item-secured {
    color: var(--color-primary-50);
  }

  .list-item-ssid {
    color: var(--color-primary-50);
  }

  #listItemRRSI {
    background-color: var(--color-primary-400);
  }

  .list-item-rrsi {
    color: var(--color-zinc-600);
  }

  [data-level='1'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 1),
  [data-level='2'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 2),
  [data-level='3'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 3),
  [data-level='4'] .list-item-rrsi .rrsi-bar:nth-last-child(-n + 4) {
    color: var(--color-zinc-950);
  }

  .footer-text {
    color: var(--color-primary-50);
  }
}
